# Autoconf-related stuff
.deps
.libs
*~
*.swp
missing
ltmain.sh
libtool
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
stamp-*
m4/*

# Mac files
.DS_Store

# Misc stuff
*.bak

# Binaries
*.o
*.la
*.lo
test/*_test

# Win32 build stuff
*.obj
*.tlog
*.log
*.pdb
*.lastbuildstate
*.ipch
*.opensdf
*.suo
*.sdf
*.idb
*.cov
win32/Debug/*
win32/testDebug/*
win32/video_dlna_testDebug/*
test/Debug/*
test/testDebug/*
test/video_dlna_testDebug/*

# Perl
Scan.xsc
Scan.c
Scan.bs
Makefile.old
META.yml
blib
pm_to_blib
README
Media-Scan*

