# Autoconf-related stuff
.deps
.libs
*~
*.swp
*.db
__db.001
__db.002
__db.003
Makefile
aclocal.m4
autom4te.cache
compile
config.h
config.h.in~
config.log
config.status
configure.scan
stamp-*
m4
ar-lib
libemdiascan-*
test-driver

# Mac files
.DS_Store

# Misc stuff
*.bak

# Large Test stuff
test/data/video/dlna_individual/*

# Binaries
*.o
*.la
*.lo
test/*_test

# Win32 build stuff
*.obj
*.tlog
*.log
*.pdb
*.lastbuildstate
*.ipch
*.opensdf
*.suo
*.sdf
*.idb
*.cov
win32/Debug/*
win32/Release/*
win32/testDebug/*
win32/video_dlna_testDebug/*
win32/Debug Library/*
win32/giflib-4.1.6/windows/Debug/*
win32/giflib-4.1.6/windows/Release/*
win32/jpeg-8a/Release/*
win32/libpng-1.5.2/projects/vstudio/Debug/*
win32/libpng-1.5.2/projects/vstudio/libpng/Release/*
win32/libpng-1.5.2/projects/vstudio/libpng/Debug/*
win32/libpng-1.5.2/projects/vstudio/libpng/Debug Library/*
win32/libpng-1.5.2/projects/vstudio/pngtest/Debug/*
win32/libpng-1.5.2/projects/vstudio/pngtest/Debug Library/*
win32/libpng-1.5.2/projects/vstudio/pngtest/Release Library/*
win32/libpng-1.5.2/projects/vstudio/pngvalid/Debug/*
win32/libpng-1.5.2/projects/vstudio/pngvalid/Debug Library/*
win32/libpng-1.5.2/projects/vstudio/pngvalid/Release Library/*
win32/libpng-1.5.2/projects/vstudio/zlib/Debug Library/*
win32/libpng-1.5.2/projects/vstudio/zlib/Release Library/*
win32/libpng-1.5.2/projects/vstudio/zlib/Release/*
win32/libpng-1.5.2/projects/vstudio/zlib/Debug/*
win32/libpng-1.5.2/projects/vstudio/Debug Library/*
win32/libpng-1.5.2/projects/vstudio/Release Library/*
win32/libpng-1.5.2/projects/vstudio/libpng/Release Library/*
test/Debug/*
test/Release/*
test/testDebug/*
test/video_dlna_testDebug/*

# Perl
Scan.xsc
Scan.c
Scan.bs
Makefile.old
META.yml
blib
pm_to_blib
README
Media-Scan*

